<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Usuários</title>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    <script href="/static/js/script.js"></script>
</head>
<body>
    <h1>Lista de Usuários</h1>
    <table>
        <tr>
            <th>Nome</th>
            <th>Cargo</th>
            <th>Departamento</th>
            <th>CPF</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.nome }}</td>
                <td>{{ user.cargo }}</td>
                <td>{{ user.departamento }}</td>
                <td>{{ user.cpf }}</td>
                <td><a href="/delete_user/{{ user.id }}" onclick="return confirm('Tem certeza de que deseja excluir este usuário?')">Excluir</a></td>
            </tr>
        {% endfor %}
    </table>
    <form action="/add_user" method="post">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome">
        <label for="cargo">Cargo:</label>
        <input type="text" id="cargo" name="cargo">
        <label for="departamento">Departamento:</label>
        <input type="text" id="departamento" name="departamento">
        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf">
        <input type="submit" value="Adicionar Usuário">
    </form>
    <a href="/generate_pdf">Gerar PDF</a>
</body>
</html>
